body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    border: black thin solid;
}
.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container {
    max-width: 30%;
}

#container {
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
}

li {
    list-style-type: none;
}

.cartItem {
    margin: 25px;
    padding: 0;
}